.accelerator-section {
  padding-bottom: 105px;

  &__container {
    @include media-3 {
      text-align: center;
    }
  }

  &__text {
    padding-bottom: 20px;

    @include media-2 {
      text-align: center;
      font-size: 16px;
    }
  }

  &__description-list {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include media-3 {
      flex-wrap: wrap;
    }
  }

  &__description-item {
    max-width: 390px;
    width: 100%;
    text-align: center;
    padding: 65px 50px;
    font-weight: 500;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
    border-radius: 10px;

    @include media-3 {
      max-width: inherit;
    }
  }

  &__description-icon {
    display: block;
    margin: 0 auto 25px auto;
    width: 110px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include media-3 {
      width: 70px;
      height: 65px;
    }
  }

  &__popup-video {
    width: 100%;
    margin-bottom: 100px;
    padding: 190px 0 250px 0;
    border-radius: 10px;
    background-color: $black-200;

    @include media-3 {
      padding: 50px 0 100px 0;
    }
  }

  &__popup-text {
    margin-bottom: 37px;
    text-align: center;
    font-weight: 600;
    color: $white;

    @include media-3 {
      font-size: 16px;
    }
  }

  &__popup-link {
    display: block;
    max-width: 115px;
    width: 100%;
    margin: 0 auto;

    @include media-3 {
      width: 63px;
      height: 63px;
    }
  }

  &__program-lists {
    margin-bottom: 20px;
  }

  &__program-items {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__button {
    padding: 20px 45px;
  }
}