.recording-section {
  z-index: 0;
  padding: 60px 0;
  margin-bottom: 100px;
  position: relative;
  background: linear-gradient(138.28deg, #1973FA -12.19%, #75ACFD 92.47%);
  color: $white;

  @include media-3 {
    text-align: center;
  }

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-repeat: repeat;
    background-size: contain;
    background-image: url('../images/sections/recording-section/recording-background.png');
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  &__wrapper {
    max-width: 555px;
    width: 100%;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;

    @include media-3 {
      font-size: 24px;
    }
  }

  &__text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;

    @include media-3 {
      font-size: 14px;
    }
  }

  &__btn {
    padding: 20px 36px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    background-color: $blue-200;

    @include media-3 {
      font-size: 16px;
    }
  }

  &__list {
    max-width: 540px;
    width: 100%;
    padding-right: 110px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    background-image: url('../images/sections/recording-section/pointbackground.png');
    background-repeat: no-repeat;
    background-position: right 20px;
  }

  &__item {
    max-width: 206px;
    width: 100%;
    padding: 56px;
    position: relative;
    background-color: $white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  &__img {
    position: absolute;
    padding: 0 10px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}