.startup-section {
  z-index: 0;
  position: relative;
  padding: 135px 0 170px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $white;
  text-align: center;

  &::after {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba($color: $black, $alpha: 0.59);
  }

  &__container {
    max-width: 1400px;
  }

  &__title {
    width: 100%;
    margin-bottom: 10px;
    background-color: $blue-200;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;

    @include media-1 {
      font-size: 36px;
    }

    @include media-2 {
      font-size: 24px;
    }
  }

  &__text {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;

    @include media-1 {
      font-size: 16px;
    }

    @include media-2 {
      font-size: 14px;
    }
  }

  &__btn {
    padding: 15px 35px;

    @include media-1 {
      font-size: 18px;
    }

    @include media-2 {
      font-size: 16px;
    }
  }
}