.tabs-section {
  padding-top: 100px;
  padding-bottom: 100px;

  &__tabs-links {
    margin-bottom: 56px;
    display: flex;
    border-radius: 5px;
    background-color: $grey-300;
  }

  &__tabs-item {
    max-width: 305px;
    width: 100%;
  }

  &__tabs-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: $black-100;
    transition: color 0.2s linear,
      background-color 0.2s linear,
      font-weight 0.2s linear;

    @include media-3 {
      font-size: 14px;
    }

    @include media-4 {
      font-size: 10px;
    }

    &--active {
      border-radius: 5px;
      font-weight: 700;
      color: $white;
      background-color: $blue-500;
    }
  }

  &__content-item {
    display: none;

    &--active {
      display: flex;
      align-items: center;
      background-repeat: no-repeat;

      @include media-2 {
        gap: 30px;
        flex-direction: column;
      }
    }
  }

  &__wrapper {
    margin-right: 115px;
    max-width: 345px;
    width: 100%;

    @include media-2 {
      margin-right: 0;
    }
  }

  &__subtitle {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;

    @include media-3 {
      font-size: 24px;
    }

    @include media-4 {
      font-size: 18px;
    }

    span {
      font-weight: 700;
      color: $blue-200;
    }
  }

  &__text {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;

    @include media-4 {
      font-size: 14px;
    }
  }

  &__btn {
    margin-bottom: 30px;
    padding: 15px 45px;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__img {
    margin-right: 10px;
  }

  &__description {
    span {
      display: block;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
  }

  &__prof {
    color: $grey-500;
    font-weight: 400;
    font-size: 14px;
  }

  &__info-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  &__info-item {
    padding: 65px 30px;
    max-width: 290px;
    width: 100%;
    text-align: center;
    background-color: $white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
    border-radius: 10px;

    @include media-1 {
      padding: 60px 15px;
    }

    &:last-child {
      background-color: $blue-400;
      transition: background-color 0.2s linear;

      @media (any-hover: hover) {
        &:hover {
          background-color: $blue-200;
        }
      }
    }
  }

  &__info-num {
    font-size: 48px;
    font-weight: 800;
    color: rgba(17, 120, 178, 0.5);

    @include media-2 {
      font-size: 36px;
    }

    @include media-3 {
      font-size: 24px;
    }

    span {
      font-size: 24px;

      @include media-3 {
        font-size: 20px;
      }

      @include media-4 {
        font-size: 16px;
      }
    }
  }

  &__info-text {
    font-size: 16px;
    font-weight: 400;
    color: rgba(16, 16, 16, 0.5);
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-3 {
      font-size: 14px;
    }

    span {
      margin-bottom: 25px;
      display: block;
      width: 47px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @include media-3 {
        width: 25px;
        height: 20px;
      }
    }
  }
}