$black: #000000;
$black-100: #484848;
$black-200: #0F0F0F;
$black-300: #232323;
$black-400: #555555;
$white: #FFFFFF;
$blue-100: #00B1E9;
$blue-200: #07AF91;
$blue-300: #016CA8;
$blue-400: #1178B2;
$blue-500: #88BBD8;
$blue-600: #2A79C2;
$grey-100: #F1F1F1;
$grey-200: #707070;
$grey-300: #EEF1F4;
$grey-400: #CFDDEB;
$grey-500: #727272;
$grey-600: #E9E9E9;


$md1: 1200px;
$md2: 992px;
$md3: 768px;
$md4: 575px;